/* *************************************** */
/* * top menu                            * */
/* *************************************** */

.jumbotron {
    margin-bottom: 0px !important;    
    padding-top: 0px !important;    
    padding-bottom: 0px !important;    
}

.black {
    background-color: black !important;
}

/* *************************************** */
/* * logos                               * */
/* *************************************** */



.mainLogo {     
    padding: 0px;   
    max-height:75px;
}

.hdLogo {    
    margin-right: 10px;       
}

.organizer-logo {    
    max-width: 300px !important;
    max-height: 150px !important;
}

.supporter-logo {    
    max-width: 200px !important;
    max-height: 100px !important;
}

/* *************************************** */
/* * sponsors                            * */
/* *************************************** */

.sponsor-level-title {
    text-align: center;
    font-size: 1.0em;
    color:gray;
    padding-bottom: 10px;
}

.sponsor-container {    
    text-align: center;
}

.sponsor-platinum-logo {    
    max-width: 300px !important;
    max-height: 150px !important;
    /*border:2px solid #E5E4E2;*/
    text-align: center;
}

.sponsor-silver-logo {    
    max-width: 200px !important;
    max-height: 100px !important;
    /*border:2px solid silver;*/
}

.sponsor-thanks-label {
    text-align: center;
    color: #3366FF;
    font-weight: bold;
}

/* *************************************** */
/* * agenda                              * */
/* *************************************** */

.accordion-dark-level1 .ui-state-default {    
    background: #444444 !important;    
}

.accordion-dark-level2 .ui-state-default {    
    background: #333333 !important;    
}

.agenda-day-label {
    color: #3366FF;
    font-weight: bold;
}

.agenda-tag {
    color: lightgreen;
}

/* *************************************** */
/* * accordion                           * */
/* *************************************** */

.ui-widget-content a {
	color: #3366FF;
}